= form_for([current_org, @question]) do |f|
  - if @question.errors.any?
    #error_explanation.alert.alert-warning{ role: "alert" }
      = pluralize(@question.errors.count, "error")
      prohibited this question from being saved:
      %ul
        - @question.errors.full_messages.each do |message|
          %li= message
  
  .form-group
    = f.label :title do
      Question title
      = f.text_field :title, class: "form-control", placeholder: "Place your question"

  .form-group
    = f.label :text do
      Description
      = f.text_area :text, class: "form-control", placeholder: "Type explanation"
  
  = f.submit class: "btn btn-primary"
