%h1 
  Listing questions for 
  = current_org.name
  
%table.table
  - @questions.each do |question|
    %tr
      %td
        %strong
          = question.title
        %br
        %em
          = h(question.text).gsub(/\n/, '<br/>').html_safe
      %td.hc-no-wrap
        = link_to 'Edit', edit_organization_question_path(current_org, question), class: "btn btn-link"
        \/
        .inline-block{ style: "display: inline-block" }
          = button_to "Delete", [current_org, question], method: :delete, class: "btn btn-link"

= link_to 'New question', new_organization_question_path, class: "btn btn-primary"