= link_to 'New question', new_organization_question_path, class: "btn btn-primary"

%h1 
  Listing questions for 
  = @organization.name
  
%table.table
  %tr
    %th 
      title and text:
    %th
      action:
  - @questions.each do |question|
    %tr
      %td
        = question.title
        %br
        %em
          = question.text
      %td
        = link_to 'Show', organization_question_path(@organization, question), class: "btn btn-link"
        |
        = link_to 'Edit', edit_organization_question_path(@organization, question), class: "btn btn-link"
        |
        .inline-block{ style: "display: inline-block" }
          = button_to "Destroy", [@organization, question], method: :delete, class: "btn btn-link"          |
