= form_for([@organization, @team]) do |f|
  - if @team.errors.any?
    #error_explanation
      %h2
        = pluralize(@team.errors.count, "error")
        prohibited this team from being saved:
      %ul
        - @team.errors.full_messages.each do |message|
          %li= message
  
  .form-group
    = f.label :name do
      Team name
      = f.text_field :name, class: "form-control", placeholder: "Enter name"
    %p.help-block Blbal

  .form-group
    = f.label :emails do
      Team members emails
      = f.text_area :emails, class: "form-control", placeholder: "Enter name"

  
  = f.submit class: "btn btn-primary"
