%h2
  Progress of the current survey
  = "#{@current_survey.start_at.strftime("%d/%m")}-#{@current_survey.stop_at.strftime("%d/%m")}"

- current_org.teams.each do |t|
  =t.name
  %progress.progress{ value: @current_survey.participants_count(t.id), max: t.count_members }
    =@current_survey.participants_count(t.id)

%h2{style: "padding-top:50px"}
  for the survey 
  = "#{@survey.start_at.strftime("%d/%m")}-#{@survey.stop_at.strftime("%d/%m")}"
%table.table
  %tr
    %th
      Questions
    - current_org.teams.each do |team|
      %th
        = link_to statistic_path(team.id) do
          = team.name

  - current_org.questions.each do |question|
    %tr
      %td
        = question.title
      - current_org.teams.each do |team|
        %td
          - if @survey.trend(team.id, question.id) > 0
            %span{ style: "color: green" }
              = Vote.by_team(team.id).by_survey(@survey.id).by_question(question.id).avg  
          - else
            %span{ style: "color: red" }
              = Vote.by_team(team.id).by_survey(@survey.id).by_question(question.id).avg


%h3
  total participants

%canvas#graph{width: "400", height: "150"}
:javascript
  var data = "#{j @graph_data.to_json}"
  draw_graph(data, 'bar', 'graph')
  


/ - Survey.all.each do |survey|
/   %h3
/     for the survey 
/     = survey.start_at.strftime("%d/%m")
/     \-
/     = survey.stop_at.strftime("%d/%m")
/   - current_org.teams.each do |team|
/     %h3
/       for team 
/       =team.name
/     %ul
/       - current_org.questions.each do |question|
/         %li
/           = question.title
/           = Vote.by_team(team.id).by_survey(survey.id).by_question(question.id).avg

