%h2
  Results for the last survey:
  / = @survey.start_at.strftime("%d/%m")
  / \-
  / = @survey.stop_at.strftime("%d/%m")
%table.table
  %tr
    %th
      Questions
    %th
      = @team.name
    %th
      Comments

  - current_org.questions.each do |question|
    %tr
      %td
        = question.title
      %td
        - if @survey.previous && @survey.trend(@team.id, question.id) > 0
          %span{ style: "background-color: rgba(65,117,5, #{@survey.trend(@team.id, question.id)*5});" }
            = Vote.by_team(@team.id).by_survey(@survey.id).by_question(question.id).avg
        - elsif @survey.previous && @survey.trend(@team.id, question.id) < 0    
          %span{ style: "background-color: rgba(208,2,27, #{@survey.trend(@team.id, question.id)*(-5)});" }
            = Vote.by_team(@team.id).by_survey(@survey.id).by_question(question.id).avg
        - else
          = Vote.by_team(@team.id).by_survey(@survey.id).by_question(question.id).avg
      %td
        - Vote.by_team(@team.id).by_survey(@survey.id).by_question(question.id).each do |vote|
          %em
            \-
            = vote.comment
          %br

%h2
  Statisctics (last 10 surveys)

- @team_graph_data.each do |data|
  %h3
    = data[:datasets][0][:label]
  %canvas{width: "400", height: "150", id: "graph_#{data[:question_id]}"}
  :javascript
    var data = "#{j data.to_json}"
    draw_graph(data, 'line', 'graph_#{data[:question_id]}')
