= form_for(@organization) do |f|
  - if @organization.errors.any?
    #error_explanation
      %h2
        = pluralize(@organization.errors.count, "error")
        prohibited this organization from being saved:
      %ul
        - @organization.errors.full_messages.each do |message|
          %li= message
  
  .form-group
    = f.label :name do
      Organization login:
      = f.text_field :name, class: "form-control", placeholder: "Enter name"
  .form-group
    = f.label :email do
      Organization email:
      = f.text_field :email, class: "form-control", placeholder: "Enter email"
  .form-group
    = f.label :password_digest do
      Organization password:
      = f.text_field :password_digest, class: "form-control", placeholder: "Enter password"
  
  = f.submit class: "btn btn-primary"