%h1 Listing Organizations
%table.table
  %thead
    %tr
      %th
        name:
      %th
        actions:
  %tbody
    - @organizations.each do |organization|
      %tr
        %td
          = organization.name
        %td
          = link_to 'Show', organization, class: "btn btn-link"
          |
          = link_to 'Edit', edit_organization_path(organization), class: "btn btn-link"
          |
          .inline-block{ style: "display: inline-block" }
            = button_to "Destroy", organization, method: :delete, class: "btn btn-link"
%br
  = link_to 'New Organization', new_organization_path, class: "btn btn-primary"