!!!
%html
  %head
    %title Healthcheck
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-full.navbar-light.bg-faded
      %a.navbar-brand{:href => root_path} Health Check
      - if logged_in?
        = render 'layouts/navigation'

      - else
        .nav.navbar-nav.pull-xs-right
          = link_to "Login", login_path, class: "nav-link nav-item"
          = link_to "Singup", signup_path, class: "nav-link nav-item"

            
    .container.hc-container
      - flash.each do |key, value|
        %div.alert.alert-info{ class: key } 
          = value
      = yield
